
<div class="container-fluid">
  <div class="form-row align-items-center" >
    <form (ngSubmit)="onFilter()" #booksFilterForm="ngForm" class="form-inline">
      <div class="col-auto">
        <label class="sr-only" for="title">Title</label>
        <input type="text" class="form-control mb-2 mb-sm-0" id="title" maxlength="256"
               [(ngModel)]="filter.title" name="title" #title="ngModel" placeholder="Title" autocomplete="off">
      </div>

      <div class="col-auto">
        <label class="sr-only" for="isbn">ISBN</label>
        <input type="text" class="form-control mb-2 mb-sm-0" id="isbn" maxlength="13"
               [(ngModel)]="filter.isbn" name="isbn" #isbn="ngModel" placeholder="ISBN" autocomplete="off">
      </div>

      <div class="col-auto">
        <label for="available">Only Available Books</label>
        <input type="checkbox" class="form-control " style="horiz-align: center" id="available"
               [(ngModel)]="filter.available" name="available" #available="ngModel" (change)="onFilter()">
      </div>

      <div class="col-auto">
        <button id="filter" type="submit" class="btn btn-success m-md-2">Filter</button>
        <button id="reset" type="button" (click)="onRefresh()" class="btn btn-secondary m-md-2">Reset</button>
        <button id="create" type="button" class="btn btn-secondary m-md-2" *ngIf="createAuthorized()" routerLink="create">Add New Book</button>
      </div>

    </form>
  </div>
  <hr>
  <div class="">
    <div *ngFor="let book of books; let idx = index" class="w-100 p-2">
      <lib-book-list-item [book]="book" [index]="idx" (onUpdate)="refreshList($event)"></lib-book-list-item>
    </div>
  </div>
</div>
