<div class="card">
  <div class="card-header">
    <h4>{{book.title}}</h4>
  </div>
  <div class="card-body">
    <mat-icon *ngIf="book._links.return" class="material-icons md-48">remove_shopping_cart</mat-icon>
    <mat-icon *ngIf="book._links.borrow" class="material-icons md-48">shopping_cart</mat-icon>
    <p class="card-text">ISBN: {{book.isbn}}</p>
    <p *ngIf="book.borrowed"
       class="card-text">Borrowed by {{book.borrowed.by | uppercase}} on {{book.borrowed.on | date: "dd.MM.yyyy HH:mm"}}</p>
    <a id="borrow-{{index}}" *ngIf="book._links.borrow && !borrowActive" href="#" class="btn btn-primary" (click)="onBorrow()">Borrow</a>
    <a id="return-{index}}" *ngIf="book._links.return && !returnActive" href="#" class="btn btn-primary" (click)="onReturn()">Return</a>
    <a id="delete-{{index}}" *ngIf="!borrowActive && !returnActive" href="#" class="btn btn-primary" (click)="onDelete()">Delete</a>

    <div *ngIf="borrowActive">
      <hr>
      <h4>Borrow the book</h4>
      <form (ngSubmit)="borrowBook()" #borrowForm="ngForm">
        <div class="form-group">
          <label for="name-{{index}}">Borrower initials</label>
          <input class="form-control" id="name-{{index}}"
                 required pattern="[a-zA-Z]{1,10}" minlength="1" maxlength="10" [(ngModel)]="borrower.name"
                 name="name" #name="ngModel" autofocus>
        </div>

        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Initials of borrower are required (between 1 and 10 characters)
        </div>

        <button id="borrowBook-{{index}}" type="submit" class="btn btn-success" [disabled]="!borrowForm.form.valid">Do borrow</button>
        <button id="cancelBorrow-{{index}}" type="button" (click)="onBorrow()" class="btn btn-secondary">Cancel</button>
      </form>
    </div>

    <div *ngIf="returnActive">
      <hr>
      <h4>Really return the book?</h4>
      <form (ngSubmit)="returnBook()" #returnForm="ngForm">
        <button id="returnBook-{{index}}" type="submit" class="btn btn-success">Do return</button>
        <button id="cancelReturn-{{index}}" type="button" (click)="onReturn()" class="btn btn-secondary">Cancel</button>
      </form>
    </div>
  </div>
</div>
